pipeline/pipe_copysqlpass_to_generaladls2.json
{
	"name": "pipe_copysqlpass_to_generaladls2",
	"properties": {
		"activities": [
			{
				"name": "get_list_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from sample_sales_db.information_schema.tables where table_type='BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTableList",
						"type": "DatasetReference",
						"parameters": {
							"p_table_name": "'none'",
							"p_schema_name": "'none'"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_list_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_list_tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from sqlpass to adlsg2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_AzureSqlTableList",
									"type": "DatasetReference",
									"parameters": {
										"p_table_name": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"p_schema_name": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_csv_TableList",
									"type": "DatasetReference",
									"parameters": {
										"p_table_name": {
											"value": "@concat(item().table_name,'.csv')",
											"type": "Expression"
										},
										"p_schema_name": "@item().table_schema"
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data from sqlpass to adlsg2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tblwritecnt",
								"value": {
									"value": "@Concat(activity('get_list_tables').output.value\n,'readrds '\n,string(activity('Copy data from sqlpass to adlsg2').output.dataRead)\n ,' writes '\n ,string(activity('Copy data from sqlpass to adlsg2').output.dataWritten)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(equals(variables('tblcount'),'12'),'True' , 'False')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"tblcount": {
				"type": "String"
			},
			"tblwritecnt": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-15T19:43:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}